footer {
  background: linear-gradient(-45deg, darken($purple, 5%), darken($purple, 10%), lighten($purple, 5%));
  // border-bottom: 2px solid $gold;
}
.footer__container {
  @extend %row;
  max-width: map-get($grid-breakpoints, xxl);
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 40px 16px;
  // background-color: $purple;
  .contact-widget {
    > div {
      @extend %row;
    }
    address {
      @extend %row;
    }
    i {
      color: lighten($purple, 35%);
      margin-right: 5px;
    }
  }
  h3 {
    color: white;
    margin-top: 20px;
    border-bottom: 4px solid $gold;
  }
  .widgets {
    @extend %row;
    @extend %col-xs-12-wrap;
    @include gutter(25px, xs, sm);
    // @extend %col-sm-6;
    flex-wrap: wrap;
    @media (min-width: map-get($grid-breakpoints, md)) {
      order: 0;
    }
  }
  .widget {
    @extend %col-xs-12-wrap;
    @extend %col-sm-4;
    color: white;
    font-family: Montserrat, sans-serif;
    line-height: 1.45;
    :not(h3) {
      font-size: 0.85rem;
    }
    a {
      text-decoration: none;
      color: white;
      &:visited {
        color: white;
      }
    }
    ul {
      margin-bottom: 0;
      list-style: none;
      padding-left: 0px;
      a {
        padding: 4px;
        &:hover {
        }
      }
      li {
        margin-bottom: 4px;
      }
      .children {
        display: none;
      }
    }
  }
}
