.slider__container {
  background-color: lighten(black, 15%);
  background: linear-gradient(to right, lighten(black, 15%) 0%, $gold 25%, $gold 75%, lighten(black, 15%) 100%);
}
.slider {
  // height: 90vw;
  // max-height: 90vh;
  // max-width: map-get($grid-breakpoints, xxl);
  margin: 0 auto;
  .flickity-page-dots {
    bottom: 10px;
    .dot {
      border: 2px solid white;
      &.is-selected {
        background: white;
      }
    }
  }
  .flickity-prev-next-button {
    width: 34px;
    height: 34px;
    @media(min-width: map-get($grid-breakpoints, lg)) { 
      width: 44px;
      height: 44px;
    }
  }
}
.flickity-viewport {
  // transition: height 0.2s;
}
.slider__slide {
  @extend %row;
  flex-direction: row-reverse;
  height: auto; 
  width: 100%;
  background-size: cover;
  &.resizing {
    height: 100%;
  }
}
.slider__text-container {
  @extend %row;
  /* @extend %col-xs; */
  /* @extend %col-md-9; */
  width: 100%;
  background-color: rgba(0,0,0,0.85);
}
.slider__info-text {
  @extend %row;
  @extend %col-xs-10;
  margin: 0 auto;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding: 60px;
  color: white;
  h2 {
    @extend .fadeIn;
    @extend .animated;
    margin: 0;
    border-bottom: 3px solid $gold;
    padding-bottom: 5px;
    font-size: 8vw;
    @media(min-width: map-get($grid-breakpoints, md)) { 
      font-size: 4vw;
      letter-spacing: 3px;
    }
    @media(min-width: map-get($grid-breakpoints, lg)) { 
      font-size: 3vw;
      letter-spacing: 3px;
    }
  }
  p {
    @extend .animated;
    @extend .fadeInUp;
    // font-family: 'Cabin', sans-serif;
    font-size: 1.15em;
    line-height: 1.75em;
    max-width: 750px;
    @media(min-width: map-get($grid-breakpoints, lg)) { 
      font-size: 1.25em;
      line-height: 2.25em;
    }
  }
  .slider__CAB {
    margin-top: 40px;
    /* align-self: center; */
  }
}
.slider__image {
  @extend %col-sm-hidden-down;
  /* @extend %col-md-3; */
  // @extend %col-xs;
  @extend %row;
  flex-direction: column;
  justify-content: flex-end;
  // max-width: 570px;
  // max-width: 370px;
  max-width: 100%;
  // background-color: rgba($gold, 0.65);
  // border-right: 2px solid $gold;
  position: relative;
  img {
    bottom: 0;
    width: 100%;
    // height: auto;
    max-height: 700px;
    min-width: 300px;
    max-width: 466px;
    // min-height: 700px;
  }
}
